{% load static %}



{% include 'admin_navigation.html' %}


<marquee style="font-family : 'Monotype Corsiva' ; font-size :25px ; color:white; background-color:#008CBA ; font-weight:bold;margin-top:1%">
    List Of All Pending Recruiters
</marquee >
<hr>

<form class="container mt-5" method="post">
    {% csrf_token %}
    <label><b>Recruiter Name</b></label>
    <input type="text" class="form-control" name="uname" value="{{recruiter.user.first_name}} {{recruiter.user.last_name}}">

    <label><b>Status</b></label>
    <select class="form-control" name="status">
        <option value="Accept">Accept</option>
        <option value="Reject">Reject</option>
   </select>
    <input type="submit" class="btn btn-primary" style="margin-top:3% ; color:#ee82ee; background-color:#616161;height:40px;font-size:20px;">

</form>

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again.");
</script>
{% endif %}

{% if error == "no" %}
<script>
    alert("status changed Successfully");
    window.location = ('{% url 'recruiter_all' %}')

</script>
{% endif %}