
{% load static %}

{% include 'recruiter_navigation.html' %}


<marquee style="font-family: 'Monotype Corsiva'; font-size: 25px;color:white; background-color:#008CBA; font-weight: bold; margin-top: 1%;">
 Change Company Logo
</marquee>
<hr>

<form class="container mt-5" method="post" enctype="multipart/form-data">
  {% csrf_token %}

  <style>
    .custom-input {
      border: 2px solid #6c63ff;
      border-radius: 10px;
      padding: 10px;
      font-size: 15px;
      transition: 0.3s ease;
    }

    .custom-input:focus {
      border-color: #00b894;
      box-shadow: 0 0 8px rgba(0, 184, 148, 0.3);
      outline: none;
    }

    .form-section {
      padding: 30px;
      background-color: #f9f9f9;
      border-radius: 15px;
      max-width: 900px;
      margin: auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    label {
      font-weight: 600;
    }

    .form-title {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      color: #4a4a4a;
    }

    .btn-primary {
      background-color: #6c63ff;
      border: none;
      padding: 10px 30px;
      border-radius: 8px;
      font-weight: bold;
      transition: 0.3s;
    }

    .btn-primary:hover {
      background-color: #574fd6;
    }

    input[type="file"]::file-selector-button {
      background-color: #6c63ff;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.3s;
    }

    input[type="file"]::file-selector-button:hover {
      background-color: #574fd6;
    }
  </style>

 <div class="form-section">
    <div class="form-title">Modify logo</div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Job Title</label>
        <input type="text" class="form-control custom-input" readonly  name="jobtitle" value="{{job.title}}" required>
      </div>
    </div>



    <div class="form-row">

      <div class="form-group col-md-12">
        <img src="{{job.image.url}}" width="120" height="90">
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-12">
        <label>Company Logo</label>
        <input type="file" class="form-control custom-input" name="logo"  required>
      </div>
    </div>




    <div class="text-center mt-4">
      <input type="submit" value="Submit" class="btn btn-primary">
    </div>
  </div>
</form>



{% if error == "no" %}
<script>
  alert("Company logo has been updated");
  window.location = ('{% url 'change_companylogo' job.id %}')
</script>
{% endif %}
{% if error == "yes" %}
<script>
  alert("Something went wrong ...try again");
</script>
{% endif %}
