{% load static %}



{% include 'recruiter_navigation.html' %}

<script>

    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New password and confirm password does not match');
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>


<marquee style="font-family : 'Monotype Corsiva' ; font-size :25px ;color:white; background-color:#008CBA ; font-weight:bold;margin-top:1%">
    Change Password
</marquee >
<hr>

<form class="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

     <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required ="true">

     <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required ="true">



    <input type="submit" class="btn btn-primary" style="margin-top:3% ; color:#ee82ee; background-color:#616161;height:40px;font-size:20px;">

</form>

{% if error == "yes" %}
<script>
    alert("Something went wrong. Please try again.");
</script>
{% endif %}


{% if error == "not" %}
<script>
    alert("Your current password is wrong");
</script>
{% endif %}

{% if error == "no" %}
<script>
    alert("Password updated Successfully");
    window.location = ('{% url 'Logout' %}')

</script>
{% endif %}